.page {
  background-color: #000000;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 0;
  /* max-width: 1280px; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 320px) {
  .page {
    min-width: 320px;
  }
}
