.element__trash {
  position: absolute;
  top:20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background: url('../../../images/img-element/Trash.svg');
  border: none;
  cursor: pointer;
  filter: drop-shadow(2px 4px 6px #808080);
  transition: opacity 0.3s;
  display: none;
}

.element__trash:hover {
  filter: drop-shadow(2px 4px 6px #000);
  opacity: 0.6;
}
