@import url(./vendor/normalize.css);
/* @import url(./fonts/inter/fonts.css); */
@import url(./blocks/page/page.css);
@import url(./blocks/content/content.css);

@import url(./blocks/no-date/no-date.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type_picture/popup_type_picture.css);
@import url(./blocks/popup/__conteiner/popup__conteiner.css);
@import url(./blocks/popup/__close-but/popup__close-but.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__pic-block/popup__pic-block.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/form/form.css);
@import url(./blocks/margin-top/margin-top.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_active/form__input-error_active.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type_error/form__input_type_error.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/popup/__description/popup__description.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__links/header__links.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__user-email/header__user-email.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/authorization/authorization.css);
@import url(./blocks/authorization/__title/authorization__title.css);
@import url(./blocks/authorization/__link/authorization__link.css);

@import url(./blocks/authorization-form/authorization-form.css);
@import url(./blocks/authorization-form/__input/authorization-form__input.css);
@import url(./blocks/authorization-form/__button/authorization-form__button.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__overlay/profile__overlay.css);
@import url(./blocks/profile/__edit-avatar/profile__edit-avatar.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__trash/_active/element__trash_active.css);
@import url(./blocks/element/__pic/element__pic.css);
@import url(./blocks/element/__item/element__item.css);
@import url(./blocks/element/__like-container/element__like-container.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-button/_active/element__like_active.css);
@import url(./blocks/element/__text/element__text.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
