.header {
  margin: 0 auto;
  padding: 45px 0 41px;
  max-width: 880px;
  width: 100%;
  min-height: 74px;
  border-bottom: 1px solid rgba(84,84,84, 0.7);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 920px) {
  .header {
    padding-left: 27px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    width: 100%;
    min-height: 56px;
    padding: 28px 27px 31.6px;
  }
}
